@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/* General Style */
p{
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}
button{
    border-radius: 8px;
    background-color: #e55473;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    transition: all 1s;
}
header{
    background-color:rgb(238 238 238);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.section_heading{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}
.section_heading h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}
.section_heading p{
    text-align: center;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner_text *{
    margin-bottom: 32px;
    max-width: 525px;
}
.banner .banner_text h1{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner .banner_img img{
    width: 100%;
    vertical-align:middle;
}


#featured, #support{
    padding: 100px 0;
}
.section_content{
    display: flex;
    align-items: end;
    justify-content: space-between;

}
.flower .flower_img{
    background-color: rgb(243 243 243);
    border: dashed 1px #612c2c;
    border-radius: 300px 300px 0 0;
    padding: 10px 15px 0;
    height: 500px;
    display: flex;
    align-items: end;
}
.flower .flower_img img{
    width: 100%;
}
.flower p{
    text-align: center;
    background-color: rgb(5, 81, 55);
    color: white;
}
.support_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 100px 50px;
}
.card{
    text-align: center;
}

#hot_deal{
    background-color: rgb(231, 243, 241);
    padding: 50px 0;
}
.container_clement{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_text{
    width: 600px;
    line-height: 80px;
    text-align: center;
}
.container_img{
    margin-right: 100px;
}

.container_img img{
    width: 100%;
}

.img_card_4{
    display: flex;
    gap: 15px;
}
.img_ca img{
    width: 100%;
}
.image_card{
    margin: 100px 0;
}
#newsletter{
    margin: 128px 0px;
}
.newsletter_main{
    background-image: url(../image/Rectangle\ 9.png);
    padding: 122px 0;
}
#newsletter form{
    max-width: 500px;
    margin: 1px auto;
    gap: 10px;
    display: flex;
}
#newsletter form input{
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
}
footer{
    background-color: #111010;
    padding: 100px 0;
    text-align: center;
}
.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 80px;
}
.footer_content h1{
    color: white;
}
.footer_content .colo{
    color: #E55473;
}
.footer_content p{
    color: white;
    width: 625px;
    text-align: center;
    font-size: 18px;
}
.footer_content .ppp{
    color: #FFFFFF;
    opacity: 40%;
    font-size: 16px;
    line-height: 80px;
}